@use '../abstracts/varibles' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/mixins' as *;

.certificates {
  padding-top: 110px;
  padding-bottom: 150px;
}

.certificates__wrapper-main-page {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.certificates__wrapper {
  margin-top: 5%;
}

.certificate__image {
  width: 400px;
  height: 260px;
  object-fit: cover;
}

.certificate__link-wrapper {
  margin: 10px;
}

.certificate {
  display: flex;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
