@use '../abstracts/placeholders' as *;
@use '../abstracts/varibles' as *;
@use '../abstracts/mixins' as *;

.header {
  height: 114px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  @extend %transition;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include media-tablet {
    width: 90%;
  }
}

.header__navigation {
  .navigation {
    display: flex;
  }
  .navigation__link {
    margin-right: 50px;
    @include styled-link;
  }
}

.header__button {
  height: 40px;
  @include media-tablet {
    height: 50px;
  }
}

.header_scrolled {
  height: 80px;
  background-color: rgba(49, 36, 57, 0.77);
  backdrop-filter: blur(10px);
}

.header__line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
